@import '~normalize.css/normalize.css';
@import '~chime.scss/scss/base/_base';


.backdrop {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 55, 55, 0.3);
}